.plyr {
  --plyr-color-main: #1777ff;
}
#root {
  padding: 32px 0;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
  font-family: "Sequel Sans Body";
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sequel Sans Semi Head";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1244px;
  margin: 0 auto;
  padding: 0 32px;
  height: calc(95vh - 80px);
  min-height: 500px;
  max-height: 900px;
  display: flex;
  flex-direction: column;
}

.custom-button {
  font-family: "Sequel Sans Semi Head", sans-serif;
}

.custom-button:not(:disabled):hover {
  filter: brightness(70%);
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.media-container {
  flex: 1;
  min-height: 0;
  transition: background 0.1s;
}

.meme-image,
.meme-video {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme-image *,
.meme-video * {
  width: 100%;
  height: 100%;
  max-height: none !important;
}

.meme-image img,
.react-player {
  object-fit: contain;
  transition: opacity 0.1s;
  width: 100%;
  height: 100%;
}

.ant-spin-nested-loading > div:not(.ant-spin-container) {
  position: absolute;
}

.control-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  width: fit-content;
  margin: auto;
  position: relative;
}

.progress-bar-container {
  width: 100%;
  z-index: 1;
}

.control-container .button-group {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
  padding-top: 24px;
}

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  line-height: 180%;
}

@media (max-width: 700px) {
  .control-container {
    width: 100%;
  }
  .control-container .button-group {
    flex-direction: column-reverse;
    align-items: center;
  }
  .button-group div,
  .button-group button {
    width: 100%;
  }
}
