@font-face {
  font-family: "Sequel Sans Body";
  src: url("./Sequel Sans Bold Body.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sequel Sans Body";
  src: url("./Sequel Sans Book Body.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sequel Sans Head";
  src: url("./Sequel Sans Semi Bold Head.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
