/* @font-face {
  font-family: 'Sequel Sans Body';
  src: url('./assets/fonts/Sequel Sans Bold Body.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
} */

@font-face {
    font-family: 'Sequel Sans Body';
    src: url('./Sequel Sans Book Body.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sequel Sans Body';
    src: url('./Sequel Sans Book Body.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  /* @font-face {
    font-family: 'Sequel Sans Semi Head';
    src: url('./assets/fonts/Sequel Sans Semi Bold Head.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
  } */